.movie-card {
  width: 90%;
  aspect-ratio: 2 / 3;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.02);
  z-index: 10;
}

.info-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0.85) 80%,
    transparent
  );
  padding: 0.7rem;
  opacity: 0;
  transform: translateY(15%);
  transition: all 0.3s ease;
  pointer-events: none;
  padding-bottom: 1rem;
}

.movie-card:hover .info-box {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.rating-box {
  display: flex;
  align-items: center;
}

.release_date {
  font-size: 15px;
  color: #ccc;
  margin-top: 4px;
}

.star {
  color: #facc15;
  margin-right: 4px;
}

.tag-box {
  margin-top: 6px;
}

.tag {
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 6px;
  padding: 2px 6px;
  margin-right: 4px;
}

.button-box {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.btn-add,
.btn-info {
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 6px;
  padding: 6px 11px;
  transition: all 0.2s ease;
}

.btn-add {
  background-color: #e50914;
  color: #fff;
}

.btn-add:hover {
  background-color: #e83d4b;
}

.btn-info {
  background-color: #222;
  color: #fff;
}
.btn-info:hover {
  background-color: #333;
}

@media (max-width: 560px) {
  .movie-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .tag {
    display: none;
  }

  .rating-box {
    margin-top: 3px;
  }

  .star {
    font-size: 11px;
    margin-right: 3px;
  }

  .rating {
    font-size: 11px;
  }
}
