/*Footer css*/
.footer {
  border-top: 1px solid #333;
  padding: 4rem 2rem;
  background-color: #141414;
  color: #aaa;
  margin-top: 4rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.75rem;
  font-size: 0.9rem;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.footer-copy {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #666;
}
