/*NotFoundPage css*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
}

.code {
  font-size: 5rem;
  color: #e50914;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.homeBtn {
  background-color: #e50914;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.homeBtn:hover {
  background-color: #b00610;
}
